@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::after,
*::before {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tailwind css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* quilljs css */
.ql-container {
  overflow-y: hidden;
}
.ql-editor {
  overflow-y: scroll;
  padding: 2rem 5rem !important;
  font-size: 0.9rem;
}

/* Add spacing above and below headings */
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
}

/* Add spacing above and below paragraphs */
.ql-editor p {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Optional: Add spacing above and below lists */
.ql-editor ul,
.ql-editor ol {
  margin-top: 1em;
  margin-bottom: 1em;
}
.ql-editor li {
  margin-top: 1em;
}

/* light mode theme */
:root {
  /* Primary color */
  --primary-color: 14, 164, 122;

  /* Derived colors */
  --primary-light: 64, 211, 163;
  --primary-dark: 11, 140, 100;

  /* Background colors */
  --background-color:255, 255, 255;
  --background-dark: 240, 240, 240;
  --background-light: 248, 248, 248;

  /* Text colors */
  --text-color: 34, 34, 34;
  --text-light: 51, 51, 51;
  --text-dark: 85, 85, 85;

  /* Border colors */
  --border-color: 200, 200, 200;
}

/* dark mode theme */
.dark {
  /* Primary color */
  --primary-color:14, 164, 122;

  /* Derived colors */
  --primary-light:64, 211, 163;
  --primary-dark: 11, 140, 100;

  /* Background colors */
  --background-color:55, 55, 55;
  --background-dark: 13, 13, 13;
  --background-light:30, 30, 30;

  /* Text colors */
  --text-color:224, 224, 224;
  --text-light: 255, 255, 255;
  --text-dark:192, 192, 192;

  /* Border colors */
  --border-color: 42, 42, 42;
}