/* Custom styles */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dark-bg {
    @apply bg-slate-700 text-gray-300;
  }
}

/* Global styles and custom themes */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-visible {
  scrollbar-width: thin;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* light mode theme */
:root {
  /* Primary color */
  --primary-color: 14, 164, 122;

  /* text color */
  --text-color: 20, 20, 20;

  /* background color */
  --bg-color: 255, 255, 255;
  --container-bg-color: 260, 260, 260;
}

/* dark mode theme */
.dark {
  /* Primary color */
  --primary-color: 14, 164, 122;

  /* text color */
  --text-color: 148, 163, 184;

  /* background color */
  --bg-color: 45, 45, 45;
  --container-bg-color: 0, 0, 0;
}

/* date picker */
.react-datepicker__triangle {
  display: none;
}

.react-datepicker__input-container input {
  padding: 5px 10px;
  width: 100%;
}

.react-datepicker-popper {
  position: relative !important;
  transform: none !important;
}

.react-datepicker__header {
  background-color: unset !important;
}
.react-datepicker__day-name {
  width: 1.2rem !important;
}

.react-datepicker__day {
  margin: 0rem !important;
}
.react-datepicker__month {
  margin: 0rem !important;
}
.react-datepicker {
  border: none !important;
  width: 100% !important;
}
.react-datepicker-wrapper {
  display: none !important;
}
