@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scrollbar
::-webkit-scrollbar {
  width: 6px;
  background-color: black;
  box-shadow: 0 0 2px black;
}

::-webkit-scrollbar-thumb {
  cursor: grabbing;
  background-color: white;
  border-radius: 10px;
} */

/* tailwind css*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* quilljs */
.ql-container {
  overflow-y: hidden;
}
.ql-editor {
  overflow-y: scroll;
  padding: 2rem 5rem !important;
  font-size: 0.9rem;
}

/* Add spacing above and below headings */
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
}

/* Add spacing above and below paragraphs */
.ql-editor p {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Optional: Add spacing above and below lists */
.ql-editor ul,
.ql-editor ol {
  margin-top: 1em;
  margin-bottom: 1em;
}
.ql-editor li {
  margin-top: 1em;
}
/* custom css */
